*styles go here*/

/*p {
    color: red;
}*/

h1 {
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    font-size: 0.5em;
    background-color: yellow;

}

title {text-align: center;

}

body{
	background-color:#ebe3ce;
}


.centerimage {
  text-align: center;
}

h4{
  text-align: center;
}

p{
  text-align: center;
}

.mylist{
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;

}
