/*styles go here*/

/*p {
    color: red;
}*/

html{
  font-size: 100%
}

p{
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
font-size: 1rem;
  text-align: center;
}

body{
	background-color:#1485CC;
}

h1{
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 2em;
  background-color: #FFFC19;
}
.centerimage {
  text-align: center;
  border: 0;
}

h4{
  text-align: center;
}



ul{
  padding: 0;
  list-style-type: none;
}
.mylist{
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;

}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}


#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 10px solid black;
}
