/*styles go here*/

/*p {
    color: red;
}*/

html{
  font-size: 100%
}

p{
  font-family: "Lobster", Georgia, "Times New Roman", serif;
  font-size: 1rem;
  text-align: center;
}

body{
	background-color:#1485CC;
}


h1{
  font-family: "Baloo Tammudu", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 2em;
  background-color: #FFFC19;
}

.centerimage {
  float: left;
  border-style: none;
  margin:5px;
}

.content{
  display: flex;
  flex-flow:column wrap;
}

h4{
  text-align: center;

}

ul{
  padding: 0;
  list-style-type: none;
}
.mylist{
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;

}

#container{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
  background-color: #98bf21;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #1485CC;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}


#footer {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    border-top: 10px solid black;
}



#nav {
  	display: flex;
  	flex-direction: column;
  }


  @media (min-width: 600px) {
  	#nav {
  		flex-direction: row;
      justify-content: space-between;
    }
    /*.container {
      flex-direction: row-reverse;
      justify-content: flex-end;
}*/


  .content{
    flex-flow:row wrap;
  }}
